streamlit
google-generativeai
st-audiorec
openai
python-dotenv
pillow
pytube
keras_preprocessing
tensorflow
transformers
beautifulsoup4
requests
youtube_transcript_api
deep_translator
gtts
spacy
googlesearch-python
pypdfium2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl